header{
	width:100%;
	height:20%;
	text-align: center;
    padding-top: 10px;
    top: 0px;
    margin-bottom: 0px;
}
nav{
	float: left;
	width:300px;
    height:795px;

}

aside{
	float: right;
	width:250px;
    height:800px;
}

section{
	float: left;
}


footer{
    clear: both;
    text-align: center;
    font-size: large;
    vertical-align: middle;
    line-height: normal;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}